:root {
  --primary-red: hsl(4, 100%, 67%);
  --neutral-blue800: hsl(234, 29%, 20%);
  --neutral-blue700: hsl(235, 18%, 26%);
  --neutral-gray: hsl(0, 0%, 58%);
  --neutral-white: hsl(0, 0%, 100%);
  --padding-1: 0.2rem;
  --padding: 1.5rem;
  --padding-2: 2rem;
  --fontsmall: 0.79rem;
  --fontmedium: 0.9rem;
  --padding-3: 1.4rem;
  --padding-one: 1rem;
  --primary-pink: rgb(255, 193, 188);
  --pink-orange-gradient: linear-gradient(to left, #ff9933 0%, #ff0066 100%);
}
/* ------------------- */
/* Reset               */
/* ------------------- */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve centering within parent */
  /*min-height: 100vh; removing this put image at top*/
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
}

.illustration-sign-up-mobile {
  width: 100%;
}

.illustration-sign-up-desktop {
  display: none;
}

.succes-list {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-self: center;
  padding: var(--padding-1);
}

.succes-list img {
  padding-right: var(--padding);
}

.succes-list p {
  color: var(--neutral-blue700);
  font-weight: 400;
}

.product-info {
  color: var(--neutral-blue700);
}

.headings {
  color: var(--neutral-blue800);
}

#email {
  width: 100%;
  padding: var(--padding-3);
  height: 2rem;
  border-radius: 10px;
  border: 2px solid var(--neutral-gray);
}

.deco-btn {
  padding: var(--padding-1);
  height: 2rem;
  width: 100%;
  background-color: var(--neutral-blue800);
  padding: var(--padding-3);
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--neutral-white);
  font-size: var(--fontmedium);
}

.deco-btn:hover {
  cursor: pointer;
  transition: 2s;
  background: var(--pink-orange-gradient);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.label-email {
  text-align: left;
  font-size: var(--fontsmall);
  font-weight: 500;
}

#email:invalid {
  border: 2px solid var(--primary-pink);
}

.error-message {
  color: var(--primary-red);
  font-size: var(--fontsmall);
}

.error-message:empty {
  display: none;
  padding: 1rem;
  background-color: var(--primary-red);
}

.email-section {
  margin-bottom: var(--fontmedium);
  width: 100%;
  color: var(--neutral-blue800);
}

.email-modal {
  color: var(--neutral-blue800);
  font-weight: 600;
}

.success-check {
  padding-bottom: var(--padding-2);
}
.headings {
  padding-bottom: var(--padding-1);
}
.modal-text {
  color: var(--neutral-blue700);
}
.modal-container {
  top: 0;
  left: 0;
  position: fixed;

  background-color: var(--neutral-blue700);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#modal_container {
  display: none;
}

.modal {
  background-color: var(--neutral-white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: var(--padding-2);
  padding-top: 10rem;
}

@media (min-width: 750px) {
  body {
    background-color: var(--neutral-blue800);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    width: 70%;
    max-width: 850px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--neutral-white);
    border-radius: 20px;
    margin: 0 auto;
  }

  .illustration-sign-up-mobile {
    display: none;
  }
  .illustration-sign-up-desktop {
    display: block;
  }

  #form {
    border: 2px dotted pink;

    margin-left: 20px;
    margin-right: 20px;
  }

  .modal-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: fixed;
    background-color: var(--neutral-blue700);
    width: 100%;
    height: 100%;
  }
  .modal {
    background-color: var(--neutral-white);
    width: 20.31rem;
    max-width: 100%;
    padding: var(--padding-2);
    border-radius: 1.59rem;
    height: 25rem;
  }

  .pad {
    padding-bottom: var(--padding-one);
  }
  .headings {
    padding-bottom: var(--padding-one);
    line-height: 90%;
  }
  .modal-text {
    margin-bottom: 0.5rem;
  }
}
